.project-item-container{
    cursor: pointer;
    line-height: 1.25;
    padding: 5px 0;

    .title-item{
        position: relative;
    }

    img{
        position: fixed;
        left: 45vw;
        top: 30vh;
        width: auto;
        height: clamp(250px, 20vw, 20vw );
        object-fit: cover;
        pointer-events: none;
        transition: transform 0.8s cubic-bezier(0.95, 0.05, 0.795, 0.035) ease-in-out;
        transition-duration: 1.3s; 
    }


    .menu-title{
        font-family: "Hamlet", sans-serif;
        font-size: 6.6vw;
        text-transform: lowercase;
        font-weight: 600;
        z-index: 1;
        line-height: 1.1;
    }

    .info-block{
        position: fixed;
        top:50%;
        transform: translate(-50%);

        left: 70vw;
        text-align: left;
        font-size: 20px;

        .info-block-header{
            margin-bottom: 20px;
            color: black;
            font-weight: 500;
            font-size: 24px;

            svg{
                margin-right: 4px;
            }

            span{
                display: flex;
                align-items:center;
            }
        }
    }

    p{
        margin-bottom: 10px;
        overflow: hidden;
        color: #999;

        span{
            display: block;
            opacity: 0;
            transition: all 0.25s ease-in-out;
        }
    }
}

